.TopHeader {
    width: 100%;
    height: 48px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frame746 {
    display: flex;
    width: 859px;
    height: 24px;
    gap: 231px;
}

.frame555 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 24px;
    gap: 8px;
}

.text1 {
    width: 474px;
    height: 18px;
    font-family: 'Poppins';
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0%;
}

.text2 {
    font-family: 'Poppins';
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0%;
    text-decoration: underline;
    font-style: Solid;
    offset: 0%;
    text-decoration-thickness: 0%;
}

.frame549 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 78px;
    height: 24px;
    gap: 5px;
}

.language {
    width: 49px;
    height: 21px;
    font-family: 'Poppins';
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0%;
}

.dropDown {
    width: 24px;
    height: 24px;
    color: #fff;
}

.header {
    position: relative;
    left: 290px;
    top: 20px;
    align-items: center;
    display: flex;
    width: 1170px;
    height: 38px;
    gap: 130px;
}

.logo {
    width: 118px;
    height: 24px;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 3%;
    color: #000;
}

.frame554 {
    font-family: 'Poppins';
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 24px;
    gap: 48px;
    white-space: nowrap;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 243px;
    height: 38px;
    border-radius: 4px;
    gap: 10px;
    background-color: #f5f5f5;
}

.component1 {
    outline: none;
    border: none;
    text-align: center;
    background-color: #f5f5f5;
}

.frame551 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 128px;
    height: 32px;
}

.headerline {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 0px;
    border: 0.5px solid #000;
    opacity: 30%;
    margin-top: 35px;
}

/* 
.aling{
    height: 1500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 70px;
}
*/

.roadmap {
    position: relative;
    top: 70px;
    left: 297px;
    font-family: 'Poppins';
    display: flex;
    flex-direction: row;
    width: 390px;
    height: 21px;
    gap: 12px;
} 
.roadmapcontent{
    opacity: 50%;
}
.roadmapcontent, .contentAbout{
    font-style: normal;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0%;
    color: #000;
}


.roadmapline {
    position: relative;
    top: 10px;
    text-align: center;
    width: 13.19px;
    height: 0px;
    border: 1px solid #000;
    rotate: 117.05deg;
    opacity: 50%;
}
.alignment {
    width: 100%;
    height: 2500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 150px;
}

.aboutUs {
    width: 100%;
    height: 610px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 250px;
}

.aboutText {
    width: 525px;
    height: 336px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.OurStory {
    width: 277px;
    height: 64px;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 54px;
    line-height: 64px;
    letter-spacing: 6%;

}

.OurStoryContent {
    width: 525px;
    height: 232px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.storyContent1,
.storyContent2 {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0%;
    color: #000;
}

.storyContent1 {
    width: 525px;
    height: 130px;
}

.storyContent2 {
    width: 505px;
    height: 78px;
}

.achivements {
    width: 1170px;
    height: 230px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.achivement {
    width: 270px;
    height: 230px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

:hover.achivement{
    background-color: #db4444;
}
.achivementIcon {
    width: 80px;
    height: 80px;
}
.outerCircle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8C898F;
}
.innerCircle {
    width: 58px;
    height: 58px;
    top: 11px;
    left: 11px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000;
}
.salseouterCircle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffF;
}
.innerCircle {
    width: 58px;
    height: 58px;
    top: 11px;
    left: 11px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000;
}


.achivementText {
    width: 215px;
    height: 66px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.achivementCount {
    width: 92px;
    height: 30px;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 32px;
    line-height: 30px;
    letter-spacing: 4%;
    color: #000;
}

.achivementDiscription {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    display: flex;
    justify-content: center;
    color: #000;
}

.sales {
    width: 270px;
    height: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    border: 1px solid #000;
    border-radius: 4px;
}
:hover.sales{
    color: #fafafa;
    background-color: #db4444;
}
.salesText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.salesCount {
    width: 92px;
    height: 30px;
    display: flex;
    justify-content: center;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 32px;
    line-height: 30px;
    letter-spacing: 4%;
    color: #000;
}

.salesDiscription {
    width: 200px;
    height: 24px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    display: flex;
    justify-content: center;
    color: #000;
}

.employee{
    width: 1170px;
    height: 564px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.person{
    width: 370px;
    height: 564px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.personImage{
    display: flex;
    align-items: end;
    justify-content: center;
    width: 370px;
    height: 430px;
    border: 1px;
    border-radius: 4px;
    background-color: #f5f5f5;
}

.image1{
    width: 236px;
    height: 391px;
}

.personDiscription{
    display: flex;
    flex-direction: column;
    width: 185px;
    height: 102px;
    gap: 16px;
}

.personDetails{
    width: 185px;
    height: 62px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.personName{
    font-family: 'Inter';
    font-weight: 500;
    font-size: 32px;
    line-height: 30px;
    letter-spacing: 4%;
    color: #000;
}

.personPosition{
    width: 167px;
    height: 24px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #000;
}

.socialApps{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 104px;
    height: 24px;
    gap: 16px;
}

.person2Discription{
    display: flex;
    flex-direction: column;
    width: 231px;
    height: 102px;
    gap: 16px;
}

.person2Details{
    width: 231px;
    height: 62px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.scroll{
    width: 112px;
    height: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.ellipes{
    width: 12px;
    height: 12px;
    opacity: 30%;
    color: #000;
}

.redEllipes{
    width: 16px;
    height: 16px;
}

.service{
    width: 943px;
    height: 161px;
    display: flex;
    flex-direction: row;
    gap: 88px;
}

.delivery, .customerSupport{
    width: 249px;
    height: 161px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.refund{
    width: 256px;
    height: 161px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.deliveryImage, .CSImage, .refundImage{
    width: 80px;
    height: 80px;
}

.deliveryContent, .CSContet{
    width: 249px;
    height: 57px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.refundContent{
    width: 256px;
    height: 57px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.serviceTitle{
    height: 28px;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
    color: #000;
}

.serviceContent{
    width: 249px;
    height: 21px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0%;
    display: flex;
    justify-content: center;
    color: #000;
}

.footer {
    position: relative;
    width: 100%;
    height: 440px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerContent {
    position: absolute;
    top: 100px;
    width: 1170px;
    height: 236px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 87px;
}

.footerContent1 {
    display: flex;
    flex-direction: column;
    width: 217px;
    height: 188px;
    gap: 16px;
}

.footerLogo {
    width: 118px;
    height: 24px;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 3%;
    color: #fff;
}

.subscribe {
    width: 101px;
    height: 28px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
    color: #fafafa;
}

.firstOrder {
    width: 206px;
    height: 24px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #fafafa;
}

.sendMail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 217px;
    height: 48px;
    border: 1.5px solid #fafafa;
    border-radius: 4px;
}

.input {
    width: 130px;
    height: 24px;
    opacity: 40%;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #fafafa;
}

.sendIcon {
    width: 24px;
    height: 24px;
    color: #FAFAFA;
}

.footerContent2 {
    display: flex;
    flex-direction: column;
    width: 175px;
    height: 180px;
    gap: 24px;
}


.support {
    width: 81px;
    height: 28px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
    color: #fafafa;
}

.address,
.email,
.phone {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #fafafa;
}

.address {
    width: 175px;
    height: 48px;
}

.email {
    width: 175px;
    height: 24px;
}

.phone {
    width: 165px;
    height: 24px;
}

.footerContent3 {
    width: 123px;
    height: 236px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.account {
    width: 85px;
    height: 28px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
    color: #fafafa;
}

.accountContent {
    width: 123px;
    height: 184px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.myAccount,
.login,
.cart,
.FooterwishList,
.shop {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #fafafa;
}

.footerContent4 {
    width: 109px;
    height: 196px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.quickLink {
    width: 101px;
    height: 28px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
    color: #fafafa;
}

.quickLinkContent {
    width: 109px;
    height: 144px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.privacy,
.terms,
.FAQ,
.contact {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #fafafa;
}

.footerContent5 {
    display: flex;
    flex-direction: column;
    width: 198px;
    height: 162px;
    gap: 24px;
}

.downloadApp {
    width: 148px;
    height: 28px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
    color: #fafafa;
}

.newUser {
    width: 194px;
    height: 18px;
    opacity: 70%;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0%;
    color: #fafafa;
}

.links {
    width: 198px;
    height: 84px;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.qrCode {
    width: 80px;
    height: 80px;
    border: 2.5px solid #fafafa;
}

.download {
    width: 110px;
    height: 84px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.playstore,
.appstore {
    width: 104px;
    height: 30px;
}

.socialMedia {
    width: 168px;
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
}


.footerLine {
    width: 100%;
    height: 0px;
    border: 1px solid #fff;
    opacity: 40%;
}

.copyrightsbox {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
}

.copyrights {
    position: absolute;
    top: 373px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    opacity: 50%;
}

.footerCopyrights {
    width: 337px;
    height: 24px;
    display: flex;
    flex-direction: row;
    gap: 6px;
}

.copyrightsText {
    width: 311px;
    height: 24px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #fff;
}